.Square {
    display:flex;
    justify-content:center;
    align-items:center;
    height:75px;
    width:75px;
}

.Dark-Tile {
    background-color: green;
}

.Light-Tile {
    background-color: beige;
}

.Knight {
    width:75px;
    height:75px;
    background-repeat:no-repeat;
    background-position:center;
    background-size:65px;

}

.Knight:hover {
    cursor:grab
}

.Knight:active {
    cursor:grabbing;
    box-shadow:10px 15px 20px black;
    border-radius:10em;

}

.Victory {
    width:75px;
    height:75px;
    background-repeat:no-repeat;
    background-position:center;
    background-size:65px;
} 

.ValidMove {
    background-color:goldenrod;
    transition: all 0.15s;
}

.Axis {
    position:absolute;
    user-select:none;
}

p.NumberAxis {
    margin-right: 150px;
    color:whitesmoke;
    font-size:x-large;
}

p.LetterAxis {
    margin-top: 150px;
    color:whitesmoke;
    font-size:x-large;
    padding-bottom:15px;
}

p.FirstNumber {
    right:70px;
    top:-30px;
    color:whitesmoke;
    font-size:x-large;
}

p.FirstLetter {
    top:18px;
    right:-5px;
    color:whitesmoke;
    font-size:x-large;
}