.App {
  display:flex;
  justify-content:space-around;
  align-items:center;
  height:100vh;
}


.PlayButton {
  display:flex;
  align-items:center;
  justify-content:center;
  width:150px;
  height:40px;
  background-color:lime;
  box-shadow: 5px 10px 15px black;
  user-select:none;
  font-size:large;
  font-weight:bold;
}

div.PlayButton:hover {
  transition: all 0.15s;
  font-size:x-large;
  font-weight:bolder;
  padding-right:10px;
}