.App {
  display:flex;
  justify-content:space-around;
  align-items:center;
  height:100vh;
  background-color:rgb(103, 101, 101);
}


.PlayButton {
  display:flex;
  align-items:center;
  justify-content:center;
  width:150px;
  height:40px;
  background-color:rgb(5, 207, 5);
  box-shadow: 5px 10px 15px black;
  user-select:none;
  font-size:large;
  font-weight:bold;
  font-family: Helvetica;
  border-radius:0.2em;
}

div.PlayButton:hover {
  transition: all 0.2s;
  font-weight:bolder;
  padding-right:15px;
  padding-left:15px;
  color:whitesmoke;
}

.Final {
  display:flex;
  justify-content:center;
  align-items:center;
  position:absolute;
  width:30%;
  height:10%;
  font-size:xx-large;
  font-weight:bolder;
  font-family:Helvetica;
  color:white;
  background-color:goldenrod;
  box-shadow:5px 10px 15px black;
  border-radius:0.15em;
}

